.amenities .item1 { width: 250px; height: 190px !important;}
.amenities .item2 { width: 250px; height: 190px !important;}
.amenities .item3 { width: 250px; height: 137px !important;}
.amenities .item4 { width: 250px; height: 290px !important;}
.amenities .item5 { width: 250px; height: 137px !important;}
.amenities .item6 { width: 516px !important; height: 300px !important;}
.amenities .item7 { width: 250px; height: 290px !important;}
.amenities .item8 { width: 250px; height: 137px !important;}
.amenities .item9 { width: 250px; height: 137px !important;}
.amenities .item10 { width: 250px; height: 190px !important;}
.amenities .item11 { width: 250px; height: 190px !important;}

.amenities .item1 img{ width: 250px; height: 190px !important; }
.amenities .item2 img{ width: 250px; height: 190px !important; }
.amenities .item3 img{ width: 250px; height: 137px !important; }
.amenities .item4 img{ width: 250px; height: 290px !important; }
.amenities .item5 img{ width: 250px; height: 137px !important; }
.amenities .item6 img{ width: 516px !important; height: 300px !important; }
.amenities .item7 img{ width: 250px; height: 290px !important; }
.amenities .item8 img{ width: 250px; height: 137px !important; }
.amenities .item9 img{ width: 250px; height: 137px !important; }
.amenities .item10 img{ width: 250px; height: 190px !important; }
.amenities .item11 img{ width: 250px; height: 190px !important; }

.photos .item1 { width: 524px !important; height: 320px !important; }
.photos .item2 { width: 235px !important; height: 157px !important; }
.photos .item3 { width: 280px !important; height: 320px !important; }
.photos .item4 { width: 235px !important; height: 157px !important; }
.photos .item5 { width: 524px !important; height: 157px !important; }
.photos .item6 { width: 520px !important; height: 320px !important; }
.photos .item7 { width: 259px !important; height: 157px !important; }
.photos .item8 { width: 259px !important; height: 157px !important; }
.photos .item9 { width: 524px !important; height: 524px !important; }
.photos .item10 { width: 520px !important; height: 259px !important; }
.photos .item11 { width: 520px !important; height: 259px !important; }
.photos .item12 { width: 259px !important; height: 320px !important; }
.photos .item13 { width: 259px !important; height: 157px !important; }
.photos .item14 { width: 520px !important; height: 320px !important; }
.photos .item15 { width: 259px !important; height: 157px !important; }

.photos .item1 img{ width: 524px !important; height: 320px !important; }
.photos .item2 img{ width: 235px !important; height: 157px !important; }
.photos .item3 img{ width: 280px !important; height: 320px !important; }
.photos .item4 img{ width: 235px !important; height: 157px !important; }
.photos .item5 img{ width: 524px !important; height: 157px !important; }
.photos .item6 img{ width: 520px !important; height: 320px !important; }
.photos .item7 img{ width: 259px !important; height: 157px !important; }
.photos .item8 img{ width: 259px !important; height: 157px !important; }
.photos .item9 img{ width: 524px !important; height: 524px !important; }
.photos .item10 img{ width: 520px !important; height: 259px !important; }
.photos .item11 img{ width: 520px !important; height: 259px !important; }
.photos .item12 img{ width: 259px !important; height: 320px !important; }
.photos .item13 img{ width: 259px !important; height: 157px !important; }
.photos .item14 img{ width: 520px !important; height: 320px !important; }
.photos .item15 img{ width: 259px !important; height: 157px !important; }